{{#each habits as |habit|}}

  <div class="card bg-primary text-white text-center mb-3 tile" data-id="{{habit.id}}">
    <div class="card-body">
       <h5 class="card-title">{{limit habit.habit_title 15}}</h5>
       <p class="card-text">{{habit.streak}}</p>
     </div>
     <button type="button" data-id="{{habit.id}}" data-toggle="modal" data-target="#habit-settings-modal" class="btn btn-primary habit-settings">?</button>
     <button class="btn btn-primary streakButton" data-id="{{habit.id}}" data-streak="{{habit.streak}}" data-title="{{habit.habit_title}}">+</button>
  </div>

<!-- EDIT HABIT MODAL -->
<div class="modal fade" id="habit-settings-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Habit Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="edit-habit">
        <div class="modal-body">
          <p class="edit-habit-failure"></p>
          <div class="form-group">
            <!-- Habit Title Input -->
            <input type="text" class="form-control" name="habit[habit_title]" placeholder="Edit habit title..." required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Edit Habit</button>
          <button type="button" class="btn btn-danger deleteHabitButton" data-dismiss="modal">Delete Habit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{/each}}
