{{#each habits as |habit|}}
  {{log habit}}
  <section class="container shadow-lg rounded bg-light" data-id="{{habit.id}}">
    <div class="tile" data-id="{{habit.id}}">
    <h6>Habit:</h6>
    <h3>
      {{limit habit.habit_title 15}}
    </h3>
    <h6>Streak:</h6>
    <h4>
      {{habit.streak}}
    </h4>
    <button class="btn btn-danger deleteHabitButton" data-id="{{habit.id}}">Delete Habit</button>
    <button class="btn btn-primary streakButton" data-id="{{habit.id}}" data-streak="{{habit.streak}}" data-title="{{habit.habit_title}}">Streak +1</button>
    <form class="edit-habit" data-id="{{habit.id}}">
      <input type="text" name="habit[habit_title]" placeholder="Edit habit title...">
      <button class="btn btn-primary">Edit Habit</button>
    </form>
  </div>
  </section>

{{/each}}
