{{#each habits as |habit|}}
  {{log habit}}
  <section data-id="{{habit.id}}">
    <h6>Habit:</h6>
    <h3>
      {{limit habit.habit_title 15}}
    </h3>
    <h6>Streak:</h6>
    <h4>
      {{habit.streak}}
    </h4>
    <button class="btn btn-danger deleteHabitButton" data-id="{{habit.id}}">Delete Habit</button>
    <form class="edit-habit">
      <input type="text" name="habit[habit_title]" placeholder="Edit habit title...">
      <button class="btn btn-primary updateHabitButton" data-id="{{habit.id}}">Edit Habit</button>
    </form>
  </section>

{{/each}}
